div{
    
    background-color: #833ae0;
    color: white;

}
p{
    font-family:'Courier New', Courier, monospace;
}
.tarix{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.kart{
    font-family: 'Courier New', Courier, monospace;
}